<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>DeliveryDate\DeliveryDate</fullnamespace>
    <descriptive locale="en_US">
        <title>Delivery date</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Date de livraison</title>
    </descriptive>
    <version>1.0</version>
    <author>
        <name>Thelia</name>
        <email>info@thelia.net</email>
    </author>
    <type>classic</type>
    <thelia>2.0.0</thelia>
    <stability>alpha</stability>
</module>
